*
{
	margin:0;
}

body{
	background: #02010a;
	font-family: "Dancing Script";
}

header
{
	width: 900px;
	margin: 0 auto;
	height: 3em;
	padding-top: 2%;
	padding-bottom: 2%;
  border-radius: 10px 10px 0 0;
	background: #5b7989;
	color:white;
	animation-duration: 1s;
	animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-top: 150%;
    }

    to {
        margin-top: -5%;
    }
}

header h1 {
float: left;
text-shadow: 2px 2px 2px #02010a;
word-spacing: 10px;
margin-left: 30px;
}

header a {
color: white;
}

nav {
float: right;
}

nav ul {
padding-right: 20px;
margin-bottom: 0px;
}

nav ul li {
display: inline-block;
line-height: 40px;
}

nav ul li a {
padding: 0 10px;
font-size: 22px;
}

a:visited {
text-decoration: none;
}

a:hover {
	text-decoration: none;
}

#contenido
{
	width: 900px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

article
{
	box-sizing: border-box;
	float:left;
	padding: 2%;
	text-align: center;
}

img {
	width: 75%;
}

#contenido-secundario1 a {
	color: black;
	font-size: 22px;
}

#contenido-secundario2 a {
	color: black;
	font-size: 22px;
}

#imagen2:hover {
	animation-name:imagen2-animacion;
	animation-duration:1s;
	animation-iteration-count:1;
	animation-timing-function: ease-out;
	box-shadow:	2px 2px 2px #82c3a6;
}

@keyframes imagen2-animacion {
100% { transform:rotate(10deg) scale(1) }
}

#imagen3:hover {
	box-shadow:	2px 2px 2px #82c3a6;
	transform: translate(20px, -5px );
	animation-duration: 3s;
	animation-delay: 2s;
}

#contenido-central
{
background-color: #82c3a6;
width: 100%;
height: 100%;
}

#contenido-secundario1	{
background-color: #d5c75f;
width: 50%;
}

#contenido-secundario2	{
	background-color: #d5c75f;
	width: 50%;
	}

@media only screen and (max-width: 900px) {
	header	{
	width:95%;
	height: 120px;
	}

	header h1 {
	text-shadow: 2px 2px 2px #02010a;
	word-spacing: 10px;
	text-align: center;
	}

  #contenido {
	width: 95%;
	margin: 0 auto;
	}

	#contenido-central {
		width: 100%;
	}

	#contenido-secundario1 {
		width: 100%;
	}

	#contenido-secundario2 {
	width: 100%;
	}

	#pie-pagina {
	width: 95%;
	height: 355px;
	}

	#pie-pagina .contenedor {
		display: flex;
		flex-direction: column;
	}

	.contenedor #contacto {
	width: 100%;
	margin-left: 40px;
	height: 110px;
	}

	.contenedor #terminos {
	width: 100%;
	margin-left: 40px;
	height: 70px;
	}

	.contenedor #redes {
	width: 100%;
	margin-left: 40px;
	height: 90px;
	}

	.contenedor #derechos {
	width: 100%;
	margin-left: 40px;
	height: 90px;
	}
	}

footer {
	background: #C6d5c5;
	height: 7em;
	border-radius: 0 0 10px 10px;
	width: 900px;
	margin: 0 auto;
	padding-top: 1%;
	padding-bottom: 2%;
}

.contenedor {
	display: flex;
	flex-direction: row;
}

footer .contenedor > article {
text-align: left;
width: 25%;
margin-left: 30px;
font-weight: bold;
}
