*
{
	margin:0;
}

body{
	background: #02010a;
	font-family: "Dancing Script";
}

header
{
	width: 900px;
	margin: 0 auto;
	height: 3em;
	padding-top: 2%;
	padding-bottom: 2%;
	border-radius: 10px 10px 0 0;
	background: #5b7989;
	color:white;
	animation-duration: 1s;
	animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-top: 150%;
    }

    to {
        margin-top: -5%;
    }
}

header h1 {
float: left;
text-shadow: 2px 2px 2px #02010a;
word-spacing: 10px;
margin-left: 30px;
}

header a {
color: white;
}

nav {
float: right;
}

nav ul {
list-style: none;
padding-right: 20px;
margin-bottom: 0px;
}

nav ul li {
display: inline-block;
line-height: 40px;
}

nav ul li a {
padding: 0 10px;
font-size: 22px;
}

a:visited {
text-decoration: none;
}

a:hover {
	text-decoration: none;
}

#contenido1
{
	width: 900px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

#contenido2
{
	width: 900px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

article
{
	box-sizing: border-box;
	float:left;
	padding: 2%;
	text-align: center;
}

img {
width: 250px;
height: 180px;
text-shadow: 2px 2px 2px #82c3a6;
border: solid 2px #82c3a6;
}

#galeria1	{
background-color: #d5c75f;
width: 33.3%;

}

#galeria2	{
	background-color: #d5c75f;
	width: 33.4%;
	}

#galeria3	{
	background-color: #d5c75f;
	width: 33.3%;
	}

	#galeria4	{
	background-color: #d5c75f;
	width: 33.3%;
	}

	#galeria5	{
	background-color: #d5c75f;
	width: 33.4%;
	}

	#galeria6	{
	background-color: #d5c75f;
	width: 33.3%;
	}

	#imagen1 {
		-webkit-filter:blur(10px);
		filter: blur(10px);
	}

	#imagen2, #imagen4, #imagen6 {
		-webkit-filter: grayscale(100%);
		filter: grayscale(100%);
	}

	#imagen3 {
		filter: sepia(90%);
		-webkit-filter: sepia(90%);
	}




	@media only screen and (max-width: 900px){
		header
		{
		width:95%;
		height: 120px;
		}

		header h1
		{
		text-shadow: 2px 2px 2px #02010a;
		word-spacing: 10px;
		text-align: center;
		}

	  #contenido1, #contenido2
		{
			width: 95%;
			margin: 0 auto;
		}

		#galeria1
		{
			width: 100%;
		}

		#galeria2
		{
			width: 100%;
		}

		#galeria3
		{
			width: 100%;
		}

		#galeria4
		{
			width: 100%;
		}

		#galeria5
		{
			width: 100%;
		}

		#galeria6
		{
			width: 100%;
		}

		#pie-pagina
			{
			width: 95%;
			height: 355px;
			}

			#pie-pagina .contenedor {
				display: flex;
				flex-direction: column;
			}

			.contenedor #contacto {
			width: 100%;
			margin-left: 40px;
			height: 110px;
			}

			.contenedor #terminos {
			width: 100%;
			margin-left: 40px;
			height: 70px;
			}

			.contenedor #redes {
			width: 100%;
			margin-left: 40px;
			height: 90px;
			}

			.contenedor #derechos {
			width: 100%;
			margin-left: 40px;
			height: 90px;
			}
	}



	footer {
		background: #C6d5c5;
		height: 7em;
		border-radius: 0 0 10px 10px;
		width: 900px;
		margin: 0 auto;
		padding-top: 1%;
		padding-bottom: 2%;
	}

	.contenedor {
		display: flex;
		flex-direction: row;
	}

	footer .contenedor > article {
	text-align: left;
	width: 25%;
	margin-left: 30px;
	font-weight: bold;
	}
